* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: #fff;
  background-color: #292323;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.tag {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid black;
}

h1 {
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.text {
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.sub-text {
  font-size: 12px;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #959292;
}
